<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    body,
    html {
        background-color: #ebecf0;
    }
</style>


<div style="margin-bottom: 1px">                                                      _..</div>
<div style="margin-bottom: 1px">                                                  .qd$$$$bp.</div>
<div style="margin-bottom: 1px">                                                .q$$$$$$$$$$m.</div>
<div style="margin-bottom: 1px">                                               .$$$$$$$$$$$$$$</div>
<div style="margin-bottom: 1px">                                             .q$$$$$$$$$$$$$$$$</div>
<div style="margin-bottom: 1px">                                            .$$$$$$$$$$$$P\$$$$;</div>
<div style="margin-bottom: 1px">                                          .q$$$$$$$$$P^"_.`;$$$$</div>
<div style="margin-bottom: 1px">                                         q$$$$$$$P;\   ,  /$$$$P</div>
<div style="margin-bottom: 1px">                                       .$$$P^::Y$/`  _  .:.$$$/</div>
<div style="margin-bottom: 1px">                                      .P.:..    \ `._.-:.. \$P</div>
<div style="margin-bottom: 1px">                                      $':.  __.. :   :..    :'</div>
<div style="margin-bottom: 1px">                                     /:_..::.   `. .:.    .'|</div>
<div style="margin-bottom: 1px">                                   _::..          T:..   /  :</div>
<div style="margin-bottom: 1px">                                .::..             J:..  :  :</div>
<div style="margin-bottom: 1px">                             .::..          7:..   F:.. :  ;</div>
<div style="margin-bottom: 1px">                         _.::..             |:..   J:.. `./</div>
<div style="margin-bottom: 1px">                    _..:::..               /J:..    F:.  :</div>
<div style="margin-bottom: 1px">                  .::::..                .T  \:..   J:.  /</div>
<div style="margin-bottom: 1px">                 /:::...               .' `.  \:..   F_o'</div>
<div style="margin-bottom: 1px">                .:::...              .'     \  \:..  J ;</div>
<div style="margin-bottom: 1px">                ::::...           .-'`.    _.`._\:..  \'</div>
<div style="margin-bottom: 1px">                ':::...         .'  `._7.-'_.-  `\:.   \</div>
<div style="margin-bottom: 1px">                 \:::...   _..-'__.._/_.--' ,:.   b:.   \._</div>
<div style="margin-bottom: 1px">                  `::::..-"_.'-"_..--"      :..   /):.   `.\</div>
<div style="margin-bottom: 1px">                    `-:/"-7.--""            _::.-'P::..    \}</div>
<div style="margin-bottom: 1px">         _....------""""""            _..--".-'   \::..     `.</div>
<div style="margin-bottom: 1px">        (::..              _...----"""  _.-'       `---:..    `-.</div>
<div style="margin-bottom: 1px">         \::..      _.-""""   `""""---""                `::...___)</div>
<div style="margin-bottom: 1px">          `\:._.-"""</div>
<div style="margin-bottom: 1px">        CCCCCCCCCCCCCRRRRRRRRRRRRRRRRR   UUUUUUUU     UUUUUUUUDDDDDDDDDDDDD</div>
<div style="margin-bottom: 1px">     CCC::::::::::::CR::::::::::::::::R  U::::::U     U::::::UD::::::::::::DDD</div>
<div style="margin-bottom: 1px">   CC:::::::::::::::CR::::::RRRRRR:::::R U::::::U     U::::::UD:::::::::::::::DD</div>
<div style="margin-bottom: 1px">  C:::::CCCCCCCC::::CRR:::::R     R:::::RUU:::::U     U:::::UUDDD:::::DDDDD:::::D</div>
<div style="margin-bottom: 1px"> C:::::C       CCCCCC  R::::R     R:::::R U:::::U     U:::::U   D:::::D    D:::::D</div>
<div style="margin-bottom: 1px">C:::::C                R::::R     R:::::R U:::::D     D:::::U   D:::::D     D:::::D</div>
<div style="margin-bottom: 1px">C:::::C                R::::RRRRRR:::::R  U:::::D     D:::::U   D:::::D     D:::::D</div>
<div style="margin-bottom: 1px">C:::::C                R:::::::::::::RR   U:::::D     D:::::U   D:::::D     D:::::D</div>
<div style="margin-bottom: 1px">C:::::C                R::::RRRRRR:::::R  U:::::D     D:::::U   D:::::D     D:::::D</div>
<div style="margin-bottom: 1px">C:::::C                R::::R     R:::::R U:::::D     D:::::U   D:::::D     D:::::D</div>
<div style="margin-bottom: 1px">C:::::C                R::::R     R:::::R U:::::D     D:::::U   D:::::D     D:::::D</div>
<div style="margin-bottom: 1px"> C:::::C       CCCCCC  R::::R     R:::::R U::::::U   U::::::U   D:::::D    D:::::D</div>
<div style="margin-bottom: 1px">  C:::::CCCCCCCC::::CRR:::::R     R:::::R U:::::::UUU:::::::U DDD:::::DDDDD:::::D</div>
<div style="margin-bottom: 1px">   CC:::::::::::::::CR::::::R     R:::::R  UU:::::::::::::UU  D:::::::::::::::DD</div>
<div style="margin-bottom: 1px">     CCC::::::::::::CR::::::R     R:::::R    UU:::::::::UU    D::::::::::::DDD</div>
<div style="margin-bottom: 1px">        CCCCCCCCCCCCCRRRRRRRR     RRRRRRR      UUUUUUUUU      DDDDDDDDDDDDD</div>





</body>
</html>